td{
    vertical-align: top;
}

nav{
    background-color: #000000;
    padding-left: 1%;
    padding-bottom: 1%;    
}

nav ul a:hover {
  background-color: #696969;
}

nav ul li.active {
  background-color: #696969;
}

.sectionBackground{
    background-color:#D3D3D3;
}


