td{
    vertical-align: top;
}

nav{
    background-color: #000000;
    padding-left: 1%;
    padding-bottom: 1%;    
}

nav ul a:hover {
  background-color: #696969;
}

.sectionBackground{
    background-color:#D3D3D3;
}

.sectionScroll{
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}

a[ id = "personalDetails"]:target ~ .sectionScroll{
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id = "education" ]:target ~ .sectionScroll{
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id = "jobs" ]:target ~ .sectionScroll {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

